<li>


	<div >
		{{burger_name}}
    {{#unless devoured}}
      <button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
				Devour it!
			</button>
    {{/unless}}
	</div>

	<button data-id="{{id}}" class="delete-form">Delete</button>
</li>
